<h1>Edit Product</h1>

<%= render 'form', store: @store, product: @product %>

<br>

<div>
  <%= link_to "Show this product", store_product_path(@store, @product)%> |
  <%= link_to "Back to products", store_products_path(@store) %>
</div>
